.announcement{
  height: 300px;
  border-radius: 0px !important;
}

.ui.stackable.menu{
  margin-bottom: 0px;
}
.main-menu{
  border-radius: 0px !important;
}
.big-container{
  padding: 50px;
  font-size: 16px;
  line-height: 30px !important;
}
.article{
  margin: 20px;
  padding: 30px;
}

/*.highlight{
  padding: 10px;
  border: 1px solid #6435C9;
  border-radius: 3px;
}*/
code{
  color: #6435C9;
  padding: 2px;
  border-radius: 2px;
  background-color: #f9f2f4 !important;
}
.ui.attached.message{
  padding: 10px;
}
