<header class="ms-hero-page ms-hero-video ms-hero-img-room ms-hero-bg-dark color-white intro-hero-full" style="height: 245px;">
  <div class="intro-hero-full-content">
    <div class="container text-center">
      <span class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-7">S</span>
      <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-7">
        <span>Scala Labs</span>
      </h1>
      <h2 class="no-m  color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-7">
        <span>Keep Calm and Type Safe</span>
      </h2>
    </div>
  </div>
</header>
<div class="container mt-6">
  <div class="panel panel-light panel-flat">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-8" role="tablist">
          <li class="wow   active" role="presentation" style="visibility: visible; animation-name: ;">
            <a href="#scala" aria-controls="scala" role="tab" data-toggle="tab" class="withoutripple">
              <img src="/assets/img/scala-logo.png" alt="" class="image-icon">
              <span class="hidden-xs">Scala</span>
            </a>
          </li>
          <li class="wow  " role="presentation" style="visibility: visible; animation-name: ;">
            <a href="#akka" aria-controls="akka" role="tab" data-toggle="tab" class="withoutripple">
              <img src="/assets/img/akka-logo.png" alt="" class="image-icon">
              <span class="hidden-xs">Akka</span>
            </a>
          </li>
          <li class="wow  " role="presentation" style="visibility: visible; animation-name: ;">
            <a href="#play" aria-controls="play" role="tab" data-toggle="tab" class="withoutripple">
              <img src="/assets/img/play-logo.png" alt="" class="image-icon">
              <span class="hidden-xs">Play</span>
            </a>
          </li>
          <li class="wow  " role="presentation" style="visibility: visible; animation-name: ;">
            <a href="#slick" aria-controls="slick" role="tab" data-toggle="tab" class="withoutripple">
              <img src="/assets/img/slick-logo.png" alt="" class="image-icon">

              <span class="hidden-xs">Slick</span>
            </a>
          </li>
          <li class="wow  " role="presentation" style="visibility: visible; animation-name: ;">
            <a href="#sbt" aria-controls="sbt" role="tab" data-toggle="tab" class="withoutripple">
              <img src="/assets/img/sbt-logo.png" alt="" class="image-icon">
              <span class="hidden-xs">SBT</span>
            </a>
          </li>
          <li class="wow  " role="presentation" style="visibility: visible; animation-name: ;">
            <a href="#shapeless" aria-controls="shapeless" role="tab" data-toggle="tab" class="withoutripple">
              <img src="/assets/img/shapeless-logo.jpg" alt="" class="image-icon">

              <span class="hidden-xs">Shapeless</span>
            </a>
          </li>
          <li class="wow  " role="presentation" style="visibility: visible; animation-name: ;">
            <a href="#cats" aria-controls="cats" role="tab" data-toggle="tab" class="withoutripple">
              <img src="/assets/img/cats-logo.png" alt="" class="image-icon">

              <span class="hidden-xs">Cats</span>
            </a>
          </li>
          <li class="wow  " role="presentation" style="visibility: visible; animation-name: ;">
            <a href="#scalatest" aria-controls="scalatest" role="tab" data-toggle="tab" class="withoutripple">
              <img src="/assets/img/scalatest-logo.gif" alt="" class="image-icon">

              <span class="hidden-xs">Scala Test</span>
            </a>
          </li>
        </ul>
        <span id="i2" class="ms-tabs-indicator" style="left: 228px; width: 228px;"></span></ul>
        <div class="panel-body">
          <!-- Tab panes -->
          <div class="tab-content mt-4">
            <div role="tabpanel" class="tab-pane  active" id="scala">
              <div class="row">
                <div class="col-md-6 col-md-push-6 pagination-centered">
                  <img src="assets/img/scala-logo.png" alt="" class="img-responsive margin-0-auto logo-image  zoomIn "> </div>
                <div class="col-md-6 col-md-pull-6">
                  <h3 class="text-normal  InUp ">Object-Oriented Meets Functional</h3>
                  <p class="lead lead-md  InUp ">
                    Have the best of both worlds. Construct elegant class hierarchies for maximum code reuse and extensibility, implement their behavior using higher-order functions. Or anything in-between.
                  </p>
                  <div class="">
                    <a href="/scala" class="btn btn-primary btn-raised  0">
                      Get Started with Scala</a>

                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane " id="akka">
              <div class="row">

                <div class="col-md-6 col-md-push-6  ">
                  <h3 class="text-normal  InUp ">Build powerful concurrent & distributed applications more easily</h3>
                  <p class="lead lead-md  InUp ">
                    Akka is a toolkit and runtime for building highly concurrent, distributed, and resilient message-driven applications on the JVM.</p>
                  <div class="">
                    <a href="/akka" class="btn btn-primary btn-raised  0">
                      Get Started with Akka</a>

                  </div>
                </div>
                <div class="col-md-6 col-md-pull-6 pagination-centered">
                  <img src="assets/img/akka-logo.png" alt="" class="img-responsive margin-0-auto logo-image  zoomIn "> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane " id="play">
              <div class="row">
                <div class="col-md-6 col-md-push-6">
                  <img src="assets/img/play-logo.png" alt="" class="img-responsive margin-0-auto logo-image  zoomIn "> </div>
                <div class="col-md-6 col-md-pull-6">
                  <h3 class="text-normal  InUp ">The High Velocity Web Framework For Java and Scala</h3>
                  <p class="lead lead-md  InUp ">Play is based on a lightweight, stateless, web-friendly architecture.
                    Built on Akka, Play provides predictable and minimal resource consumption (CPU, memory, threads) for highly-scalable applications.
		  </p>
                  <div class="">
                    <a href="/play-framework" class="btn btn-primary btn-raised  zoomIn 0">
                      Get Started with Play</a>

                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane " id="slick">
              <div class="row">
                <div class="col-md-6">
                  <img src="assets/img/slick-logo.png" alt="" class="img-responsive margin-0-auto logo-image  zoomIn "> </div>
                <div class="col-md-6">
                  <h3 class="text-normal  InUp ">Functional Relational Mapping for Scala</h3>
                  <p class="lead lead-md   InUp ">
                    Slick is a modern database query and access library for Scala. It allows you to work with stored data almost as if you were using Scala collections while at the same time giving you full control over when a database access happens and which data is transferred. You can write your database queries in Scala instead of SQL, thus profiting from the static checking, compile-time safety and compositionality of Scala. Slick features an extensible query compiler which can generate code for different backends.
                  </p>
                  <div class="">
                    <a href="/slick" class="btn btn-primary btn-raised  zoomIn 0">
                      Get Started with Slick</a>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane " id="sbt">
              <div class="row">
                <div class="col-md-6 col-md-push-6">
                  <img src="assets/img/sbt-logo.png" alt="" class="img-responsive margin-0-auto logo-image  zoomIn "> </div>
                <div class="col-md-6 col-md-pull-6">
                  <h3 class="text-normal  InUp ">The interactive build tool</h3>
                  <p class="lead lead-md  InUp ">Use Scala to define your tasks. Then run them in parallel from the shell.</p>

                  <div class="">
                    <a href="/sbt" class="btn btn-primary btn-raised  zoomIn 0">
                      Get Started with SBT</a>

                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane " id="shapeless">
              <div class="row">
                <div class="col-md-6 col-md-push-6">
                  <img src="assets/img/shapeless-logo.jpg" alt="" class="img-responsive margin-0-auto logo-image  zoomIn "> </div>
                <div class="col-md-6 col-md-pull-6">
                  <h3 class="text-normal  InUp ">Generic Programming for Scala</h3>
                  <p class="lead lead-md  InUp ">
                    A type class and dependent type based generic programming library for Scala
                  </p>
                  <div class="">
                    <a href="/shapeless" class="btn btn-primary btn-raised  zoomIn 0">
                      Get Started with Shapeless</a>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane " id="cats">
              <div class="row">
                <div class="col-md-6 col-md-push-6">
                  <img src="assets/img/cats-logo.png" alt="" class="img-responsive margin-0-auto logo-image  zoomIn "> </div>
                <div class="col-md-6 col-md-pull-6">
                  <h3 class="text-normal  InUp ">Lightweight, modular, and extensible library for functional programming</h3>
                  <p class="lead lead-md  InUp ">
                    Cats is a library which provides abstractions for functional programming in the Scala programming language.
                    It is a modular library which provides functional style constructs with importance to efficiency.
                  </p>

                  <div class="">
                    <a href="/cats" class="btn btn-primary btn-raised mr-1  zoomIn 2">
                      Get Started with Cats</a>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane " id="scalatest">
              <div class="row">
                <div class="col-md-6 col-md-push-6">
                  <img src="assets/img/scalatest-logo.gif" alt="" class="img-responsive margin-0-auto logo-image  zoomIn "> </div>
                <div class="col-md-6 col-md-pull-6">
                  <h3 class="text-normal  InUp ">The most flexible and most popular testing tool in the Scala ecosystem</h3>
                  <p class="lead lead-md  InUp ">
                      It is designed to increase your team's productivity through simple, clear tests and executable specifications that
                      improve code and communication.
                  </p>
                  <div class="">
                    <a href="scala-test" class="btn btn-primary btn-raised mr-1  zoomIn 2">
                      Get Started with Scala Test</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<!-- <div class="">
        <div class="card wow InUp" style="visibility: visible; animation-name: fadeInUp;">
          <div class="card-block card-block-big">
            <h2 class="text-center fw-500">Our Vision</h2>
            <div class="row mt-4">
              <div class="text-justify">
                <p class="dropcaps">Scala is a wonderful and very powerful programming language. It can be said that with great power,
                  comes steeper learning curve. Well it is true that scala has a bit more steeper learning curve than other programming
                  languages. There are multitude of reasons for it. One such reason is the different styles of programming that
                  is possible and scala and the other reason is the usage of features that are not usually present in
                  conventional programming languages. Our aim at Scala Labs is to make this learning curve as smooth as possible and
                make you profecient in scala and its ecosystem. We are also passionate about evangelising scala and its ecosystem.
              </p>
              </div>
            </div>
          </div>
        </div>

      </div> -->
<div class="">
  <section class="ms-component-section  ">
    <div class="wrap bg-primary">
      <div class="container">
        <h1 class="section-title text-center color-light">Recent Blog Posts</h1>
      </br>
    </br>
      </br>
        <div class="row masonary-container">
          <div class="">
            <div class="col-md-4 masonary">
              <div class="card card-primary">
                <div class="card-block text-center">
                  <span class="">
                    <img src="/assets/img/scala-logo.png" style="width:60px; height:60px" alt="">
                  </span>
                  <h3 class="color-primary">Trait Linearization</h3>

                  <a href="javascript:void(0)" class="btn btn-raised btn-primary">
                    Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 masonary">
              <div class="card card-primary">
                <div class="card-block text-center">
                  <span class="">
                    <img src="/assets/img/akka-logo.png" style="width:60px; height:60px" alt="">
                  </span>
                  <h3 class="color-primary">Dispatcher Configuration</h3>

                  <a href="javascript:void(0)" class="btn btn-raised btn-primary">
                    Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 masonary">
              <div class="card card-primary">
                <div class="card-block text-center">
                  <span class="">
                    <img src="/assets/img/play-logo.png" style="width:60px; height:60px" alt="">
                  </span>
                  <h3 class="color-primary">Custom Body Parsers</h3>

                  <a href="javascript:void(0)" class="btn btn-raised btn-primary">
                    Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 masonary">
              <div class="card card-primary">
                <div class="card-block text-center">
                  <span class="">
                    <img src="/assets/img/slick-logo.png" style="width:60px; height:60px" alt="">
                  </span>
                  <h3 class="color-primary">Transactions and Pinned Sessions</h3>

                  <a href="javascript:void(0)" class="btn btn-raised btn-primary">
                    Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 masonary">
              <div class="card card-primary">
                <div class="card-block text-center">
                  <span class="">
                    <img src="/assets/img/sbt-logo.png" style="width:60px; height:60px" alt="">
                  </span>
                  <h3 class="color-primary">Parallel Multi Project Builds</h3>

                  <a href="javascript:void(0)" class="btn btn-raised btn-primary">
                    Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 masonary">
              <div class="card card-primary">
                <div class="card-block text-center">
                  <span class="">
                    <img src="/assets/img/shapeless-logo.jpg" style="width:60px; height:60px" alt="">
                  </span>
                  <h3 class="color-primary">Generic Derivation of Type Classes</h3>

                  <a href="javascript:void(0)" class="btn btn-raised btn-primary">
                    Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 masonary">
              <div class="card card-primary">
                <div class="card-block text-center">
                  <span class="">
                    <img src="/assets/img/cats-logo.png" style="width:60px; height:60px" alt="">
                  </span>
                  <h3 class="color-primary">Applicative Functors</h3>

                  <a href="javascript:void(0)" class="btn btn-raised btn-primary">
                    Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 masonary">
              <div class="card card-primary">
                <div class="card-block text-center">
                  <span class="">
                    <img src="/assets/img/scalatest-logo.gif" style="width:60px; height:60px" alt="">
                  </span>
                  <h3 class="color-primary">Testing Actors with Scala Test</h3>

                  <a href="javascript:void(0)" class="btn btn-raised btn-primary">
                    Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
