<header class="ms-header ms-header-primary">
        <div class="container container-full">
          <div class="ms-title">
            <a href="/">
              <!-- <img src="assets/img/demo/logo-header.png" alt=""> -->
              <span class="ms-logo animated zoomInDown animation-delay-5">S</span>
              <h1 class="animated fadeInRight animation-delay-6">
                <span>Scala Labs</span>
              </h1>
            </a>
          </div>
          <div class="header-right">
            <div class="share-menu">
              <ul class="share-menu-list">
                <li class="animated fadeInRight animation-delay-3">
                  <a href="javascript:void(0)" class="btn-circle btn-google">
                    <i class="zmdi zmdi-google"></i>
                  </a>
                </li>
                <li class="animated fadeInRight animation-delay-2">
                  <a href="javascript:void(0)" class="btn-circle btn-facebook">
                    <i class="zmdi zmdi-facebook"></i>
                  </a>
                </li>
                <li class="animated fadeInRight animation-delay-1">
                  <a href="javascript:void(0)" class="btn-circle btn-twitter">
                    <i class="zmdi zmdi-twitter"></i>
                  </a>
                </li>
              </ul>
              <a href="javascript:void(0)" class="btn-circle btn-circle-primary animated zoomInDown animation-delay-7">
                <i class="zmdi zmdi-share"></i>
              </a>
            </div>
            <a href="javascript:void(0)" class="btn-circle btn-circle-primary no-focus animated zoomInDown animation-delay-8" data-toggle="modal" data-target="#ms-account-modal">
              <i class="zmdi zmdi-account"></i>
            </a>
            <form class="search-form animated zoomInDown animation-delay-9">
              <input id="search-box" type="text" class="search-input" placeholder="Search..." name="q">
              <label for="search-box">
                <i class="zmdi zmdi-search"></i>
              </label>
            </form>
            <a href="javascript:void(0)" class="visible-xs btn-ms-menu btn-circle btn-circle-primary sb-toggle-left animated zoomInDown animation-delay-10">
              <i class="zmdi zmdi-menu"></i>
            </a>
          </div>
        </div>
      </header>
      <nav class="navbar yamm ms-navbar ms-navbar-primary navbar-static-top">
        <div class="container container-full">
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
              <!-- <img src="assets/img/demo/logo-navbar.png" alt=""> -->
              <span class="ms-logo ms-logo-sm">S</span>
                <strong>Scala Labs</strong>
              </span>
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="">
                <a href="/" class=" animated fadeIn animation-delay-4"  data-name="home">Home
                </a>
              </li>
              <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle animated fadeIn animation-delay-5" data-toggle="dropdown" data-hover="dropdown" data-name="page">Courses
                  <i class="zmdi zmdi-chevron-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                  <li>
                    <a href="/scala" class="dropdown-link">Scala</a>
                  </li>
                  <li>
                    <a href="/akka" class="dropdown-link">Akka</a>
                  </li>
                  <li>
                    <a href="/play-framework" class="dropdown-link">Play</a>
                  </li>
                  <li>
                    <a href="/sbt" class="dropdown-link">SBT</a>
                  </li>
                  <li>
                    <a href="/slick" class="dropdown-link">Slick</a>
                  </li>
                  <li>
                    <a href="/shapeless" class="dropdown-link">Shapeless</a>
                  </li>
                  <li>
                    <a href="/cats" class="dropdown-link">Cats</a>
                  </li>
                  <li>
                    <a href="/scala-test" class="dropdown-link">Scala Test</a>
                  </li>
                </ul>
              </li>
              <li class=" yamm-fw">
                <a href="/blog" class="animated fadeIn animation-delay-6"   role="button" aria-haspopup="true" aria-expanded="false" data-name="component">Blog
                </a>
              </li>
              <li class="">
                <a href="/news" class="animated fadeIn animation-delay-7"   role="button" aria-haspopup="true" aria-expanded="false" data-name="blog">News
                </a>
              </li>
              <li class="">
                <a href="/events"  aria-haspopup="true" aria-expanded="false" data-name="portfolio">Events
                </a>
              </li>
              <li class="">
                <a href="/contact" class="animated fadeIn animation-delay-9"   role="button" aria-haspopup="true" aria-expanded="false" data-name="ecommerce">Contact Us
                </a>
              </li>
              <!-- <li class="btn-navbar-menu"><a href="javascript:void(0)" class="sb-toggle-left"><i class="zmdi zmdi-menu"></i></a></li> -->
            </ul>
          </div>
          <!-- navbar-collapse collapse -->
          <a href="javascript:void(0)" class="visible-xs sb-toggle-left btn-navbar-menu">
            <i class="zmdi zmdi-menu"></i>
          </a>
        </div>
        <!-- container -->
      </nav>
