<!-- <div class="ui masthead inverted   segment announcement">

</div> -->
<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">

      <h1 class="ui header">
        Scala Programming Guide
        <div class="sub header">
          Core Language
        </div>
      </h1>
      <div class="ui hidden divider"></div>
    </div>
  </div>
</div>
<div class="ui main big-container">
  <div class="ui stackable grid">
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          The Basics
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic  fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Control Structures & Functions
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <a href="/scala-basics" class="ui basic  fluid button">
            View
          </a>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Arrays
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic  fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Maps & Tuples
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic  fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Classes
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic  fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Objects
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic  fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Packages & Imports
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic  fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Inheritance
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic  fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Files & Regular Expressions
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic  fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Traits
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic  fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Operators
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic  fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Higher Order Functions
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic  fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Collections
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic  fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Pattern Matching & Case Classes
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic  fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Annotations
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic  fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Type Parameters
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic  fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Advanced Types
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic  fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Implicits
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic  fluid button">
            View
          </div>
      </div>
    </div>
  </div>
</div>
</div>
