<!-- <div class="ui masthead inverted  violet segment announcement">

</div> -->
<div class="ui main big-container">
  <div class="ui stackable grid">
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Basics
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic violet fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Basics
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic violet fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Basics
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic violet fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Basics
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic violet fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Basics
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic violet fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Basics
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic violet fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Basics
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic violet fluid button">
            View
          </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">
          Basics
        </div>

        <div class="description">
          Introduction to the wonderful world of scala
        </div>
      </div>
      <div class="extra content">
          <div class="ui basic violet fluid button">
            View
          </div>
      </div>
    </div>
  </div>
</div>
</div>
