<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">

      <h1 class="ui header">
        <%- post.title %>
        <div class="sub header">
          <%- post.description %>
        </div>
      </h1>
      <div class="ui hidden divider"></div>
    </div>
  </div>
</div>
<div class="ui main big-container">
  <%- post.content %>
</div>
