<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">

      <h1 class="ui header">
        Basics
        <div class="sub header">
          Learn how to setup scala and learn the basics of declaring variables and values
        </div>
      </h1>
      <div class="ui hidden divider"></div>
    </div>
  </div>
</div>
    <div class="ui main big-container">
      <%- post.content %>
    </div>
