<div class="ui stackable fixed huge  violet menu main-menu">
  <div class="header item">
    Scala Labs
  </div>
  <a class="item">
    Docs
  </a>
  <a class="item">
    News
  </a>
  <a class="item">
    Events
  </a>
</div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
