<div class="ui  fixed borderless secondary pointing  violet menu main-menu">
  <a href="/" class="header item">
    Scala Labs
  </a>
  <!-- <a class="active item">
    Docs
  </a>
  <a class="item">
    News
  </a>
  <a class="item">
    Events
  </a> -->
</div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
